<!-- error.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Error Page</title>
</head>
<body>
    <h1>Error</h1>
    <p><%= error %></p>
    <h3><a href="/">Go back to Home page</a></h3>
</body>
</html>
