

<section style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black m-5" style="border-radius: 25px; ">
            <div class="card-body p-md-3">
              <div class="row justify-content-center ">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1 ">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
  
                  
    <form method="POST" role="form" class="php-email-form " id="contact-form">
        <div class="row">
          <div class="form-group col-md-6">
            <label for="name">Your Name</label>
            <input type="text" name="name" class="form-control is-invalid" id="name" required>
          </div>
          <div class="form-group col-md-6">
            <label for="name">Your Email</label>
            <input type="email" class="form-control is-invalid" name="email" id="email" required>
          </div>
        </div>
        <div class="form-group">
          <label for="name">Subject</label>
          <input type="text" class="form-control is-invalid" name="subject" id="subject" required>
        </div>
        <div class="form-group">
          <label for="name">Message</label>
          <textarea class="form-control is-invalid" name="message" rows="10" required id="message"></textarea>
        </div>
        
        <div class="text-center"><button type="submit" >Send Message</button></div>
      </form>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <script>
      // Disable the browser's back button
      history.pushState(null, null, location.href);
      window.onpopstate = function () {
          history.go(1);
      };
  </script> -->
  <!-- <script>
    // Redirect to the desired page
    window.location.replace('/profile'); // Replace '/profile' with the URL of the page you want to redirect to
  </script> -->
  
  </section>
  